<template>
  <b-container id="calendar">
    <workspace-menu />
    <h1>Bienvenido/a, {{ user.username }}</h1>
    <div class="d-flex justify-content-center">
      <b-row id="calendar-calendar">
        <b-col class="mt-3 pt-5" cols="12" sm="12" md="12" lg="3" xl="2">
          <daybox class="daybox" :default="user.days" :extra="extra" :left="left" />
        </b-col>
        <b-col cols="12" sm="12" md="12" lg="9" xl="10">
          <full-calendar ref="fullcalendar" class="full-calendar-box" :options="calendarOptions" />
        </b-col>
      </b-row>
    </div>
    <div class="d-flex justify-content-center">
      <b-row id="calendar-buttons" class="justify-content-center pt-4">
        <b-button class="add-button mr-3 mb-5" type="button" variant="secondary" @click="showModal">Añadir</b-button>
      </b-row>
    </div>
    <modal-calendar ref="modal" @dates="addVacations" @remove="removeVacations" :id="this.eventId" />
  </b-container>
</template>

<script>
import FullCalendar from "@fullcalendar/vue";
import dayGridPlugin from "@fullcalendar/daygrid";
import interactionPlugin from "@fullcalendar/interaction";
import axios from "axios";

import router from "../router";
import WorkspaceMenu from "./WorkspaceMenu";
import ModalCalendar from "./ModalCalendar";
import Daybox from "./Daybox";

export default {
  name: "calendar",

  components: { FullCalendar, WorkspaceMenu, Daybox, ModalCalendar },

  data() {
    return {
      // Everything we need for calendar
      calendar: "",
      calendarOptions: {
        plugins: [dayGridPlugin, interactionPlugin],
        initialView: "dayGridMonth",
        firstDay: 1,
        events: [],
        eventClick: this.clickEvent,
      },
      // Other needed data
      user: "",
      extra: null,
      left: null,
      eventId: null,
      color: "",
    };
  },

  // First method it goes in
  created() {
    this.goToLogin();
  },

  // Just right after it creates component
  mounted() {
    this.getUser();
  },

  methods: {
    goToLogin() {
      if (!this.$session.has("token")) {
        router.push("/");
      }
    },

    getUser() {
      axios({
        method: "POST",
        url: "http://127.0.0.1:8000/",
        headers: {
          'Authorization': `Token ${this.$session.get("token")}`
        }
      }).then((res) => {
        // render the calendar
        this.calendar = this.$refs.fullcalendar.getApi();
        // Get all other data
        this.user = res.data.user;
        this.extra = res.data.extradays;
        this.left = res.data.days;
        // Render calendar events one by one
        for (let vacation of res.data.vacation_list) {
          // We call to this methos in order to print events with proper color
          this.choseColor(vacation);
          this.calendar.addEvent({
            id: vacation.id,
            title: vacation.state,
            start: vacation.start_date,
            end: vacation.finish_date,
            color: this.color,
          });
        }
        // Render holidays events
        for (let holidays of res.data.holidays) {
          this.calendar.addEvent({
            start: holidays.polished_date,
            // They display in the background thanks to that
            display: "background",
          });
        }
      });
    },

    addVacations(value) {
      // Value is data our modal emit with @dates
      axios({
        method: "POST",
        url: "http://127.0.0.1:8000/add-edit/",
        headers: {
          'Authorization': `Token ${this.$session.get("token")}`
        },
        data: {
          eventId: this.eventId,
          dates: value,
        },
      }).then((res) => {
        // We get Calendar alredy created
        this.calendar = this.$refs.fullcalendar.getApi();
        this.left = res.data.days;
        // A new event rendered
        if (this.eventId == null) {
          // First we check if an error came from endpoint
          if (res.data.status == "1") {
            this.addP(res.data.error["start_date"]);
          } else if (res.data.status == "2") {
            this.addP(res.data.error);
          } else {
            // else we render an event
            this.calendar.addEvent({
              id: res.data.id,
              title: res.data.title,
              start: res.data.start_date,
              end: res.data.finish_date,
              color: res.data.color,
            });
            this.$refs.modal.$el.style.display = "none";
          }
          // An alredy rendered event ir our calendar
        } else {
          if (res.data.status == "1") {
            this.addP(res.data.error["start_date"]);
          } else if (res.data.status == "2") {
            this.addP(res.data.error);
          } else {
            this.calendar.getEventById(res.data.id).remove();
            this.calendar.addEvent({
              id: res.data.id,
              title: res.data.title,
              start: res.data.start_date,
              end: res.data.finish_date,
              color: res.data.color,
            });
            this.$refs.modal.$el.style.display = "none";
          }
        }
        this.eventId = null;
      });
    },

    removeVacations(value) {
      // Value is data our modal emit with @remove
      axios({
        method: "POST",
        url: "http://127.0.0.1:8000/remove/",
        headers: {
          'Authorization': `Token ${this.$session.get("token")}`
        },
        data: {
          id: value,
        },
      }).then((res) => {
        this.calendar = this.$refs.fullcalendar.getApi();
        this.left = res.data.days;
        this.calendar.getEventById(value).remove();
      });
    },

    choseColor(vacation) {
      if (vacation.state == "PEN") {
        this.color = "#99bbff";
      } else if (vacation.state == "APR") {
        this.color = "#99ff99";
      } else {
        this.color = "#ff9999";
      }
    },

    clickEvent(info) {
      // info its the event ID because we defined like this in data: eventClick
      this.eventId = info.event.id;
      this.$refs.modal.$el.style.display = "block";
    },

    showModal() {
      let formError = this.$refs.modal.$el.firstChild.childNodes[4];

      // Our modal remove a p element if created before with addP function
      if (formError.lastChild) {
        formError.removeChild(formError.lastChild);
      }
      this.eventId = null;
      this.$refs.modal.$el.style.display = "block";
    },

    addP(data) {
      // data its error info from endpoint
      let newP = document.createElement("p");
      let text = document.createTextNode(data);
      let formError = this.$refs.modal.$el.firstChild.childNodes[4];

      // First we remove a p element if alredy exists one
      if (formError.lastChild) {
        formError.removeChild(formError.lastChild);
      }

      // Then we create a p element with error info
      newP.appendChild(text);
      formError.appendChild(newP);
    }
  }
}
</script>

<style>
@media screen {
  /* Component */
  #calendar {
    min-width: 100%;
    padding: 0;
  }

  #calendar-calendar {
    width: 67%;
    height: 50%;
  }

  #calendar-buttons {
    width: 67%;
  }

  h1 {
    font-size: 2em;
  }

  /* Fullcalendar */
  .box {
    display: flex;
    justify-content: center;
  }

  .full-calendar-box {
    width: 98%;
    height: 100%;
  }

  div > a {
    color: #000000;
    text-decoration: none;
  }

  td.fc-day-sat {
    background-color: #fff5ee;
    z-index: -1;
  }

  td.fc-day-sun {
    background-color: #fff5ee;
    z-index: -1;
  }

  span.fc-title {
    color: #000000 !important;
  }

  /* Daybox */
  .daybox {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 768px) {
  /* Fullcalendar */
  #calendar-calendar {
    width: 98%;
  }

  .fc-header-toolbar {
    flex-direction: column;
  }
}
</style>