<template>
  <div>
    <b-list-group>
      <h5>Días</h5>
      <b-list-group-item class="text-left"
        >Días por defecto: {{ this.default }}</b-list-group-item
      >
      <b-list-group-item class="text-left"
        >Días extra: {{ this.extra }}</b-list-group-item
      >
      <b-list-group-item class="text-left"
        >Días cogidos: {{ this.left }}</b-list-group-item
      >
    </b-list-group>
    <b-list-group class="pt-4">
      <h5>Leyenda</h5>
      <table class="table table-bordered text-center">
        <tbody>
          <tr id="current">
            <td></td>
            <td>Hoy</td>
          </tr>
          <tr id="weekend">
            <td></td>
            <td>Fin de semana</td>
          </tr>
          <tr id="holidays">
            <td></td>
            <td>Festivos</td>
          </tr>
          <tr id="pendant">
            <td></td>
            <td>Pendiente</td>
          </tr>
          <tr id="aproved">
            <td></td>
            <td>Aprobado</td>
          </tr>
          <tr id="denied">
            <td></td>
            <td>Denegado</td>
          </tr>
        </tbody>
      </table>
    </b-list-group>
  </div>
</template>

<script>
export default {
  name: "daybox",

  // We defined them as props so we can pass them from parent component
  props: {
    default: {
      type: Number,
      default: 23,
    },
    extra: {
      type: Number,
      default: 0,
    },
    left: {
      type: Number,
      default: 0,
    },
  },
};
</script>

<style>
@media screen {
  #current td:first-child {
    background-color: #fcf8e3;
  }

  #weekend td:first-child {
    background-color: #fff5ee;
  }

  #holidays td:first-child {
    background-color: #8fdf82;
    opacity: 0.3;
  }

  #pendant td:first-child {
    background-color: #99bbff;
  }

  #aproved td:first-child {
    background-color: #99ff99;
  }

  #denied td:first-child {
    background-color: #ff9999;
  }
}

</style>