<template>
  <b-container class="log-box d-flex flex-column">
    <h1 class="d-flex justify-content-center mt-5 pt-5 log-title">
      Workspace Manager
    </h1>
    <div class="d-flex justify-content-center pt-5">
      <b-card class="shadow" title="Login">
        <b-form @submit.prevent="goToCalendar">
          <b-form-group label="Name:" label-for="name">
            <b-form-input
              id="name"
              type="text"
              placeholder="name"
              :state="userState"
              v-model="credentials.username"
            ></b-form-input>
            <b-form-invalid-feedback :state="userState"
              >This field is required</b-form-invalid-feedback
            >
          </b-form-group>
          <b-form-group label="Password:" label-for="pass">
            <b-form-input
              id="pass"
              type="password"
              placeholder="Password"
              :state="passState"
              v-model="credentials.password"
            ></b-form-input>
            <b-form-invalid-feedback :state="passState"
              >This field is required</b-form-invalid-feedback
            >
          </b-form-group>
          <div ref="log-error"></div>
          <b-button type="submit" variant="primary">Login</b-button>
        </b-form>
        <p class="doesnt"><router-link :to="{ path: '/register' }">¿No tienes cuenta?</router-link></p>
      </b-card>
    </div>
  </b-container>
</template>

<script>
import axios from "axios";
import router from "../router";

export default {
  name: "Login",

  data() {
    return {
      // We left credentials opened so we define them in our template form
      credentials: {},
      userState: null,
      passState: null,
    };
  },

  // Since credentials are in watch, userState and passState change their value when credentials do it
  watch: {
    credentials() {
      if (this.credentials.username) {
        this.userState = true;
      }
      if (this.credentials.password) {
        this.passState = true;
      }
    },
  },

  methods: {
    goToCalendar() {
      // both credentials are required
      if (this.credentials.username && this.credentials.password) {
        axios({
          method: "POST",
          url: "http://127.0.0.1:8000/api-token-auth/",
          data: {
            username: this.credentials.username,
            password: this.credentials.password,
          },
        })
          .then((res) => {
            // We create a session and pass to it returned token, used in every other axios request
            this.$session.start();
            this.$session.set("token", res.data.token);
            router.push("/calendar");
          })
          .catch((err) => {
            if (err.response) {
              this.addP(err.response.data.non_field_errors);
            }
          });
      }
      // We reset our states
      if (!this.credentials.username) {
        this.userState = false;
      }
      if (!this.credentials.password) {
        this.passState = false;
      }
    },

    addP(data) {
      // Its the same as Calendar component one
      let newP = document.createElement("p");
      let text = document.createTextNode(data);
      let formError = this.$refs["log-error"];

      if (formError.firstChild) {
        formError.removeChild(formError.firstChild);
      }

      newP.appendChild(text);
      formError.appendChild(newP);
    },
  },
};
</script>

<style>
.log-box {
  min-height: 100%;
  min-width: 100%;
}

.log-title {
  color: rgb(0, 0, 0);
}

.doesnt {
  margin-top: 1em;
}
</style>