<template>
  <div id="my-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title justify-content-center">
          Editar datos personales
        </h4>
        <button aria-label="close" class="close" type="button" @click="exitModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b-form @submit.prevent="editData">
          <b-row align-v="center">
            <b-col cols="8">
              <!-- Mobile -->
              <b-form-group label-cols="4" label="Mobile: " label-for="mobile">
                <b-form-input 
                  id="mobile"
                  type="tel" 
                  placeholder="666666666" 
                  v-model="alterUser.mobile" 
                  :state="userStates.mobile"
                />
                <b-form-invalid-feedback :state="userStates.mobile">This field is required</b-form-invalid-feedback>
              </b-form-group>

              <!-- Job -->
              <b-form-group label-cols="4" label="Job: " label-for="job">
                <b-form-input 
                  id="job" 
                  type="text" 
                  placeholder="Job" 
                  v-model="alterUser.job" 
                  :state="userStates.job" 
                />
                <b-form-invalid-feedback :state="userStates.job">This field is required</b-form-invalid-feedback>
              </b-form-group>

              <!-- Department -->
              <b-form-group label-cols="4" label="Department: " label-for="department">
                <b-form-input 
                  id="department" 
                  type="text" 
                  placeholder="Department" 
                  v-model="alterUser.department" 
                  :state="userStates.department" 
                />
                <b-form-invalid-feedback :state="userStates.department">This field is required</b-form-invalid-feedback>
              </b-form-group>

              <!-- Image -->
              <b-form-group label-cols="4" label="Image: " label-for="user-img">
                <b-form-file 
                  id="user-img" 
                  accept=".jpg, .jpeg, .png" 
                  v-model="alterUser.image" 
                />
              </b-form-group>

              <!-- Studies -->
              <b-form-group label-cols="4" label="Studies: ">
                <b-form-group label-cols="4" label="Level: " label-for="studies-lvl">
                  <b-form-select 
                    id="studies-lvl"
                    :options="studiesOpts" 
                    v-model="alterUser.level" 
                    :state="userStates.level" 
                  />
                  <b-form-invalid-feedback :state="userStates.level">This field is required</b-form-invalid-feedback>
                </b-form-group>
                <b-form-group label-cols="4" label="Name: " label-for="studies-name">
                  <b-form-input 
                    id="studies-name"
                    type="text" 
                    placeholder="Name" 
                    v-model="alterUser.name" 
                    :state="userStates.name" 
                  />
                  <b-form-invalid-feedback :state="userStates.name">This field is required</b-form-invalid-feedback>
                </b-form-group>
                <b-form-group label-cols="4" label="Place: " label-for="studies-place">
                  <b-form-input 
                    id="studies-place" 
                    type="text" 
                    placeholder="Place" 
                    v-model="alterUser.place" 
                    :state="userStates.place" 
                  />
                  <b-form-invalid-feedback :state="userStates.place">This field is required</b-form-invalid-feedback>
                </b-form-group>
              </b-form-group>

              <!-- Manager -->
              <b-form-group label-cols="4" label="Manager: " label-for="manager">
                <b-form-select 
                  id="manager" 
                  :options="employees" 
                  v-model="alterUser.manager" 
                  :state="userStates.manager" 
                />
                <b-form-invalid-feedback :state="userStates.manager">This field is required</b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col cols="4">
              <div>
                <b-button type="submit" variant="primary">Editar</b-button>
              </div>
            </b-col>
          </b-row>
        </b-form>
      </div>
      <div id="error"></div>
    </div>
  </div>
</template>

<script>

export default {
  name: "ModalPersonal",

  data() {
    return {
      alterUser: {
        mobile: null,
        job: null,
        department: null,
        image: null,
        level: null,
        name: null,
        place: null,
        manager: null
      },
      studiesOpts: [
        { value: "BA", text: "Bachillerato" },
        { value: "CA", text: "Grado" },
        { value: "MA", text: "Máster" },
        { value: "DA", text: "Doctorado" },
        { value: "XX", text: "Otros" },
      ],
      /* We use then to control when field is not filled */
      userStates: {
        mobile: null,
        job: null,
        department: null,
        level: null,
        name: null,
        place: null,
        manager: null
      }
    };
  },

  // It works exactly the same as all other watch
  watch: {
    alterUser() {
      if (this.alterUser.mobile) {
        this.userStates.mobileState = true;
      }
      if (this.alterUser.job) {
        this.userStates.jobState = true;
      }
      if (this.alterUser.department) {
        this.userStates.departmentState = true;
      }
      if (this.alterUser.level) {
        this.userStates.levelState = true;
      }
      if (this.alterUser.name) {
        this.userStates.nameState = true;
      }
      if (this.alterUser.place) {
        this.userStates.placeState = true;
      }
      if (this.alterUser.manager) {
        this.userStates.managerState = true;
      }
    },
  },

  props: ["user", "employees"],

  methods: {
    editData() {
      let check = false
      check = this.checkObject(this.alterUser, this.userStates)
      if (check) {
        this.$emit("user", this.alterUser);
        this.resetData(this.alterUser);
        this.resetData(this.userStates);
      }
    },

    exitModal() {
      // Works exactly the same as exitModal from ModalCalendar
      this.resetData(this.alterUser);
      this.resetData(this.userStates);
      this.$el.style.display = "none";
    },

    checkObject(user, state) {
      // Method that checks if every template field is filled but image and returns a boolean
      let check = true
      for (let key in user) {
        if (user[key] === null && key != 'image') {
          state[key] = false
          check = false
        }
      }
      return check
    },

    resetData(obj) {
      // Method that reset every template field value
      for (let key in obj) {
        obj[key] = null
      }
    }
  },
};
</script>
    
<style>
@media screen {
  #my-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
}

@media screen and (max-width: 768px) {
  .modal-content {
    margin-top: 30%;
    padding: 2%;
    width: 98%;
  }

  .modal-header {
    padding: 4% 2%;
  }

  .modal-title {
    font-size: 1em;
  }

  .close {
    font-size: 1.4em;
  }

  .modal-body {
    padding: 2%;
  }

  .modal-form-cols {
    flex-direction: column;
  }

  .modal-form-col-f {
    font-size: 0.9em;
    max-width: 97%;
    padding: 2%;
  }

  .form-row {
    flex-direction: column;
  }

  .modal-form-col-b {
    max-width: 97%;
  }

  .modal-button {
    padding: 2%;
    font-size: 0.9em;
  }
}
</style>
