<template>
  <div id="my-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title justify-content-center">
          Solicitud de vacaciones
        </h4>
        <button
          aria-label="close"
          class="close"
          type="button"
          @click="exitModal"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b-form class="modal-form" @submit.prevent="addData">
          <b-row class="modal-form-cols" align-v="center">
            <b-col class="modal-form-col-f" cols="8">
              <!-- start date -->
              <b-form-group
                label-cols="4"
                label="Fecha de inicio: "
                label-for="date-start"
              >
                <b-form-datepicker
                  id="date-start"
                  :date-format-options="{
                    year: 'numeric',
                    month: 'numeric',
                    day: 'numeric',
                  }"
                  :hide-header="true"
                  placeholder="Selecciona una fecha de inicio"
                  :start-weekday="1"
                  :state="initState"
                  v-model="dates.start_date"
                >
                </b-form-datepicker>
                <!-- when initState changes, automatically show this -->
                <b-form-invalid-feedback :state="initState"
                  >This field is required</b-form-invalid-feedback
                >
              </b-form-group>

              <!-- finish date -->
              <b-form-group
                label-cols="4"
                label="Fecha de fin: "
                label-for="date-end"
              >
                <b-form-datepicker
                  id="date-end"
                  :date-format-options="{
                    year: 'numeric',
                    month: 'numeric',
                    day: 'numeric',
                  }"
                  :hide-header="true"
                  placeholder="Selecciona una fecha de fin"
                  :start-weekday="1"
                  :state="endState"
                  v-model="dates.finish_date"
                >
                </b-form-datepicker>
                <b-form-invalid-feedback :state="endState"
                  >This field is required</b-form-invalid-feedback
                >
              </b-form-group>
            </b-col>
            <b-col class="modal-form-col-b" cols="4">
              <div>
                <b-button class="modal-button" type="submit" variant="secondary"
                  >Añadir</b-button
                >
                <b-button
                  class="modal-button"
                  variant="secondary"
                  @click="removeData"
                  >Eliminar</b-button
                >
              </div>
            </b-col>
          </b-row>
        </b-form>
      </div>
      <div id="error"></div>
    </div>
  </div>
</template>

<script>
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

export default {
  name: "ModalCalendar",

  components: { DatePicker },

  data() {
    return {
      dates: {
        start_date: null,
        finish_date: null,
      },
      initState: null,
      endState: null,
    };
  },

  // Since dates are in watch, states change their value when dates do it
  watch: {
    dates() {
      if (this.dates.start_date) {
        this.initState = true;
      }
      if (this.dates.finish_date) {
        this.endState = true;
      }
    },
  },

  // We get id from parent component
  props: ["id"],

  methods: {
    addData() {
      if (!this.dates.start_date) {
        this.initState = false;
      }
      if (!this.dates.finish_date) {
        this.endState = false;
      }
      // In case all required data are filled, we emit them to the parent component to capture in our methods as "value"
      if (this.dates.start_date && this.dates.finish_date) {
        this.$emit("dates", this.dates);
        this.resetState();
        this.resetDates();
      }
    },

    removeData() {
      if (this.id) {
        // Method that emits event ID to the remove event method
        this.$emit("remove", this.id);
        this.$el.style.display = "none";
      }
    },

    exitModal() {
      // We reset every state and date right before leaving our modal
      this.resetState();
      this.resetDates();
      this.$el.style.display = "none";
    },

    resetDates() {
      this.dates.start_date = null;
      this.dates.finish_date = null;
    },

    resetState() {
      this.initState = null;
      this.endState = null;
    },
  },
};
</script>

<style>
@media screen {
  #my-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
}

@media screen and (max-width: 768px) {
  .modal-content {
    margin-top: 30%;
    padding: 2%;
    width: 98%;
  }

  .modal-header {
    padding: 4% 2%;
  }

  .modal-title {
    font-size: 1em;
  }

  .close {
    font-size: 1.4em;
  }

  .modal-body {
    padding: 2%;
  }

  .modal-form-cols {
    flex-direction: column;
  }

  .modal-form-col-f {
    font-size: 0.9em;
    max-width: 97%;
    padding: 2%;
  }

  .form-row {
    flex-direction: column;
  }

  .modal-form-col-b {
    max-width: 97%;
  }

  .modal-button {
    padding: 2%;
    font-size: 0.9em;
  }
}
</style>