<template>
  <div>
    <workspace-menu />
    <b-container>
      <div>
        <b-row class="custom-card-group">
          <!-- cards with users data -->
          <b-card v-for="emp of userList" :key="emp.username" class="custom-card m-4">
            <b-card-title>{{ emp.username }}</b-card-title>
            <b-card v-if="!emp.image"
              img-src="../../static/img/blank-profile-picture-460_640.png"
              img-height="135"
              img-width="135"
              img-right
            >
              <b-card-text>Current job: {{ emp.job }}</b-card-text>
              <b-card-text>Mail: {{ emp.email.email }}</b-card-text>
              <b-card-text>Mobile: {{ emp.mobile }}</b-card-text>
            </b-card>
            <b-card v-else
              :img-src="emp.image"
              img-height="135"
              img-width="135"
              img-right
            >
              <b-card-text>Current job: {{ emp.job }}</b-card-text>
              <b-card-text>Mail: {{ emp.email.email }}</b-card-text>
              <b-card-text>Mobile: {{ emp.mobile }}</b-card-text>
            </b-card>
          </b-card>
        </b-row> 
      </div>
      <div>
        <!-- Personal info tabs -->
        <b-tabs class="text-left">
          <b-tab class="m-3" title="Work info">
            <b-img v-if="!user.image" 
              right 
              thumbnail 
              src="../../static/img/blank-profile-picture-460_640.png" 
              alt="Profile pic"
              class="prof-pic">
            </b-img>
            <b-img v-else 
              right 
              thumbnail 
              :src="user.image" 
              alt="Profile pic"
              class="prof-pic">
            </b-img>
            <h4 class="title">Job info</h4>
              <p>Current job: <span>{{ user.job }}</span></p>
              <p>Current department: <span>{{ user.department }}</span></p>
            <h4 class="title">Position info</h4>
              <p>Current manager: <span>{{ user.manager }}</span></p>
              <p>Employees:</p>
              <ul v-for="e of user.employees" :key="e">
                <li>{{ e }}</li>
              </ul>
          </b-tab>
          <b-tab class="m-3" title="Personal info">
            <b-img v-if="!user.image" 
              right 
              thumbnail 
              src="../../static/img/blank-profile-picture-460_640.png" 
              alt="Profile pic"
              class="prof-pic">
            </b-img>
            <b-img v-else 
              right 
              thumbnail 
              :src="user.image" 
              alt="Profile pic"
              class="prof-pic">
            </b-img>
            <h4>Account info</h4>
              <p>Name: <span>{{ user.username }}</span></p>
              <p>Total vacations days: <span>{{ user.days }}</span></p>
            <h4>Contact info</h4>
              <p>Email: <span>{{ user.email.email }}</span></p>
              <p>Mobile: <span>{{ user.mobile }}</span></p>
            <h4>Studies info</h4>
              <p>Level: <span>{{ userStudies.level }}</span></p>
              <p>Name: <span>{{ userStudies.name }}</span></p>
              <p>Place: <span>{{ userStudies.place }}</span></p>
          </b-tab>
        </b-tabs>
      </div>
      <b-row class="justify-content-center pt-4">
        <b-button class="mr-3" type="button" variant="secondary" @click="showModal">Editar</b-button>
      </b-row>
      <modal-personal ref="modal" @user="editUser" :user="this.user" :employees="this.employees" />
    </b-container>
  </div>
</template>

<script>
import axios from "axios";
import FormData from "form-data";

import router from "../router";
import WorkspaceMenu from './WorkspaceMenu.vue';
import ModalPersonal from "../components/ModalPersonal";

export default {
  name: "PersonalData",

  components: { WorkspaceMenu, ModalPersonal },

  data() {
    return {
      user: '',
      userStudies: '',
      employees: [],
      userList: []
    };
  },

  // Those two life cycle hooks works exaactly the same as Calendar component ones
  created() {
    this.goToLogin();
  },

  mounted() {
    this.getUser();
  },

  methods: {
    goToLogin() {
      if (!this.$session.has("token")) {
        router.push("/");
      }
    },

    getUser() {
      axios({
        method: "POST",
        url: "http://127.0.0.1:8000/personal/",
        headers: {
          'Authorization': `Token ${this.$session.get("token")}`
        }
      }).then((res) => {
        // Current session user
        this.user = res.data.user;
        // Current session user studies
        this.userStudies = res.data.user_studies;
        // Workspace manager users list
        for (let employee of res.data.user_list) {
          this.userList.push(employee);
          // In order to make an object the way a Vue form options understands
          // The ID is necesary
          this.employees.push({'value': employee.user, 'text': employee.username});
        }
      });
    },

    editUser(value) {
      // As we have an image in our form, we need to create a formData instance so we can pass it to the endpoint
      const form = new FormData();
      for (let key in value) {
        form.append(key, value[key])
      }

      axios({
        // Headers content-type needs to deal with the image in our data
        method: "POST",
        url: "http://127.0.0.1:8000/personal-edit/",
        headers: {
          'Authorization': `Token ${this.$session.get("token")}`,
          'Content-type': 'multipart/form-data'
        },
        data: form 
      }).then((res) => {
        if (res.data.status == 1) {
          this.addP(res.data.error)
        }
        else {
          /* Current session user */
          this.user = res.data.user;
          /* Current session user studies */
          this.userStudies = res.data.user_studies;
          this.$refs.modal.$el.style.display = "none";
        }
      });
    },

    showModal() {
      this.$refs.modal.$el.style.display = "block";
    },

    addP(data) {
      // It works exactly the same every other addP funtions
      let newP = document.createElement("p");
      let text = document.createTextNode(data);
      let formError = this.$refs.modal.$el.firstChild.childNodes[4];

      if (formError.lastChild) {
        formError.removeChild(formError.lastChild);
      }

      newP.appendChild(text);
      formError.appendChild(newP);
    },
  },
};
</script>

<style>
@media screen {
  .custom-card-group {
    justify-content: center;
  }

  .custom-card {
    max-width: 30em;
    width: 500px;
  }

  p {
    padding-left: 2em;
  }

  ul {
    list-style-type: none;
  }

  .prof-pic {
    height: 180px;
    width: 180px;
  }

  .card-text {
    text-align: left;
  }
}

@media screen and (max-width: 576px) {
  body p {
    font-size: 0.75rem;
  }
  .custom-card {
    max-width: 50em;
  }

  .prof-pic {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 420px) {
  img.card-img-right {
    display: none;
  }
  .card-text {
    padding: 0px;
  }

  .prof-pic {
    display: none;
  }
}
</style>