<template>
  <b-container class="log-box d-flex flex-column">
    <h1 class="d-flex justify-content-center mt-5 pt-5 log-title">
      Workspace Manager
    </h1>
    <div class="d-flex justify-content-center pt-5">
      <b-card class="shadow" title="Registrar">
        <b-form @submit.prevent="register">
          <!-- Email -->
          <b-form-group label="Email:" label-for="email">
            <b-form-input 
              id="email" 
              type="email"
              placeholder="example@mail.com"  
              :state="emailState"
              v-model="credentials.email" 
            />
            <b-form-invalid-feedback :state="emailState">This field is required</b-form-invalid-feedback>
          </b-form-group>

          <!-- Name -->
          <b-form-group label="Name:" label-for="name">
            <b-form-input
              id="name"
              type="text"
              placeholder="name"
              :state="userState"
              v-model="credentials.username"
            ></b-form-input>
            <b-form-invalid-feedback :state="userState"
              >This field is required</b-form-invalid-feedback
            >
          </b-form-group>

          <!-- Password -->
          <b-form-group label="Password:" label-for="pass">
            <b-form-input
              id="pass"
              type="password"
              placeholder="Password"
              :state="passState"
              v-model="credentials.password"
            ></b-form-input>
            <b-form-invalid-feedback :state="passState"
              >This field is required</b-form-invalid-feedback
            >
          </b-form-group>
          <div ref="log-error"></div>
          <b-button type="submit" variant="primary">Registrar</b-button>
        </b-form>
        <p class="doesnt"><router-link :to="{ path: '/' }">¿Ya tienes cuenta?</router-link></p>
      </b-card>
    </div>
  </b-container>
</template>

<script>
import axios from "axios";
import router from "../router";

export default {
  name: "Register",

  data() {
    return {
      credentials: {},
      emailState: null,
      userState: null,
      passState: null
    };
  },

  // It works exactly the same as all other watch
  watch: {
    credentials() {
      if (this.credentials.email) {
        this.emailState = true;
      }
      if (this.credentials.username) {
        this.userState = true;
      }
      if (this.credentials.password) {
        this.passState = true;
      }
    },
  },

  methods: {
    register() {
      if (this.credentials.email && this.credentials.username && this.credentials.password) {
        axios({
          method: "POST",
          url: "http://127.0.0.1:8000/register/",
          data: {
            email: this.credentials.email,
            username: this.credentials.username,
            password: this.credentials.password
          },
        })
          .then((res) => {
            if(res.data.status == "1") {
              console.log(res.data)
              this.addP(res.data.error['username']);
            }
            else {
              router.push("/");
            }
          })
      }
      // We change state for our <b-form-invalid-feedback> if some required data is not passed
      if (!this.credentials.email) {
        this.emailState = false;
      }
      if (!this.credentials.username) {
        this.userState = false;
      }
      if (!this.credentials.password) {
        this.passState = false;
      }
      if (!this.credentials.password2) {
        this.pass2State = false;
      }
    },

    addP(data) {
      // It works exactly the same every other addP funtions
      let newP = document.createElement("p");
      let text = document.createTextNode(data);
      let formError = this.$refs["log-error"];

      if (formError.firstChild) {
        formError.removeChild(formError.firstChild);
      }

      newP.appendChild(text);
      formError.appendChild(newP);
    }
  }
}
</script>

<style>
.log-box {
  min-height: 100%;
  min-width: 100%;
}

.log-title {
  color: rgb(0, 0, 0);
}
</style>