<template>
  <b-navbar sticky toggleable="md" variant="light" class="bar">
    <b-navbar-toggle target="collapse-navbar"></b-navbar-toggle>
    <b-navbar-brand>
      <b-img src="../../static/favicon.png" heigth=35 width=35></b-img>
    </b-navbar-brand>
    <b-collapse id="collapse-navbar" is-nav>
      <b-navbar-nav>
        <!-- path has to be in our Router -->
        <b-nav-item><router-link :to="{ path: '/calendar' }">Calendar</router-link></b-nav-item>
        <b-nav-item><router-link :to="{ path: '/personal-data' }">Manage data</router-link></b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-button type="button" variant="secondary" @click="logout">Desconectar</b-button>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import router from "../router";

export default {
  name: "Menu",

  methods: {
    logout() {
      this.$session.destroy();
      router.push("/");
    },
  },
};
</script>

<style>
.bar {
  margin-bottom: 0.3em;
}
</style>